

body {
  background-color: var(--pozadie);
  min-height: 50em;
}

.background-radial-gradient {
  background-color: var(--pozadie);
  padding-top: 10%;
}


.background{
  background-color: var(--pozadie);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(var(--blue), #15cbdb70 98%);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(var(--blue), #15cbdb70 98%);
  overflow: hidden;
}

.bg-glass {
  background-color: #999 !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
}

.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label,
.box .inputBox input:not([value=""])~label {
  top: -1.125rem;
  left: 0;
  color: var(--blue);
  font-size: 0.75rem;
}

.box input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: var(--blue);
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
}

.box input[type="submit"]:hover {
  background-color: var(--blue);
}

.pozadie-nav{
  background-color: var(--pozadie);
  font-size: 1em;
}

.search-bar::placeholder{
  color: var(--blue);
  opacity: 1;
}

.nav-center{
align-items: center;
}

.pozadie-nav a{
  color: var(--blue);
}

.search-bar{
  background-color: var(--pozadie);
  color: var(--blue);
}

.search-but{
  color: var(--blue);
  border: solid 0.1em var(--blue);
}

.search-but:hover{
  background-color: var(--blue);
  color: var(--pozadie);
}