html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--pozadie);
}

.Theme{
  margin-bottom: 1em;
  font-size: 2.3em;
}

.Color-changer{
  width: 8em;
  height: 8em;
  margin-bottom: 5em;
}

.one{
  background-color: #00C4D4;
  border-radius: 1em;
  border: 0;
}

.two{
  background-color: #c0392b;
  border-radius: 1em;
  border: 0;
}

.three{
  background-color: #2ecc71;
  border-radius: 1em;
  border: 0;
}

.four{
  background-color: #FFBF00;
  border-radius: 1em;
  border: 0;
}

.five{
  background-color: #CCCCFF;
  border-radius: 1em;
  border: 0;
}

.six{
  background-color: #9FE2BF;
  border-radius: 1em;
  border: 0;
}

.seven{
  background-color: #8e44ad;
  border-radius: 1em;
  border: 0;
}

.eight{
  background-color: #2874a6;
  border-radius: 1em;
  border: 0;
}

.nine{
  background-color: #fff;
  border-radius: 1em;
  border: 0;
}